export(chain.info)
export(compute_chunk_positions)
export(coverage)
export(create_bisulfite_model)
export(create_pcr_model)
export(create_error_distributions)
export(create_genotype_prior_alt)
export(create_genotype_prior_ref)
export(end)
export(epiG)
export(epiG.algorithm.config)
export(epiG.chunks)
export(exp_decay)
export(fetch_alt)
export(fetch.reads)
export(fetch.reads.raw)
export(fetch_reads_info)
export(fetch_ref)
export(fetch_header)
export(fetch_file_info)
export(genotype)
export(locate.DGCH)
export(locate.GC)
export(locate.CG)
export(locate.HCGD)
export(locate.mutations)
export(nchain)
export(nchunks)
export(nread)
export(position.info)
export(read.fasta)
export(read.info)
export(start)
export(subregion)
export(symbols)
export(vector.search)
S3method(chain.info,epiG)
S3method(coverage,epiG)
S3method(end,epiG)
S3method(genotype,epiG)
S3method(length,epiG)
S3method(nchain,epiG)
S3method(nchunks,epiG)
S3method(nread,epiG)
S3method(position.info,epiG)
S3method(print,epiG)
S3method(print,epiG.config)
S3method(read.info,epiG)
S3method(read.info,epiG_reads)
S3method(start,epiG)
S3method(subregion,epiG)
useDynLib(epiG,r_epiG_compute_chunk_positions)
useDynLib(epiG,r_epiG_fetch_reads)
useDynLib(epiG,r_epiG_fetch_reads_raw)
useDynLib(epiG,r_epiG_fetch_reads_info)
useDynLib(epiG,r_epiG_fetch_header)
useDynLib(epiG,r_epiG_haplo_fit_filename)
useDynLib(epiG,r_epiG_haplo_fit_filename_chunks)
useDynLib(epiG,r_epiG_locate)
useDynLib(epiG,r_epiG_read_fasta)
